<a href="https://colab.research.google.com/github/Lirgis0/project_yandex_2/blob/main/project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

 Выведите первые 20 строчек датафрейма `data` на экран.

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

 Выведите основную информацию о датафрейме с помощью метода `info()`.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

 Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

 В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

 В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.

In [ ]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

Выведите перечень уникальных значений столбца `children`.

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

 В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

 Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

 Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

 Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

 Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.

In [ ]:
data.duplicated().sum()

54

In [ ]:
data = data.drop_duplicates()

 Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.

In [ ]:
data['education'] = data['education'].str.lower()

### Категоризация данных

Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

 Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

 Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.

Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
data['debt'].value_counts() #количество людей по категориям вернувшие и не вернувшие кредит

0    19616
1     1732
Name: debt, dtype: int64

In [ ]:
1732/(19616+1732)*100 #общий процент невозвратов по всему датафрейму.

8.113172194116546

In [ ]:
f"{data['debt'].mean():.2%}"

'8.11%'

**Функция:**

In [ ]:
def func (abc):
    data_pivot = data.pivot_table(index = abc, values = 'debt', aggfunc = ['count','sum','mean'])
    data_pivot.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
    data_pivot['Доля должников'] = data_pivot['Доля должников']
    return data_pivot

In [ ]:
func('children')

          Всего кредитополучателей  Всего должников  Доля должников
children
0                            14107             1063        0.075353
1                             4809              444        0.092327
2                             2052              194        0.094542
3                              330               27        0.081818
4                               41                4        0.097561
5                                9                0        0.000000

In [ ]:
x = data.groupby('children')['debt'].sum() #Количество невозвратов по количеству детей.
x

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

In [ ]:
y = data.groupby('children')['children'].count() #Количество клиентов по количеству детей.
y

children
0    14107
1     4809
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [ ]:
z = x/y*100 #Процентное соотношение количества невозвратов от общего кочичества.
z

children
0    7.535266
1    9.232689
2    9.454191
3    8.181818
4    9.756098
5    0.000000
dtype: float64

**Вывод:** Количество детей у клиентов влияет на возврат кредита незначительно, в пределах 2% от общего(Можно ли назвать 2% незначительным отклонением?). **Клиенты без детей чаще отдают кредиты в срок.** В случае, когда у клиентов 5 детей, возврат кредитов стопроцентный, но так как таких клиентов всего 9 человек, то эта выборка не репрезентативна. Можно отметить, что кредитополучатели без детей являются более ответственными, чем клиенты у которых есть дети.

 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
func('family_status')

                       count  sum      mean
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4146  385  0.092861
женат / замужем        12266  927  0.075575

In [ ]:
x = data.groupby('family_status')['debt'].sum() #Количество  невозвратов по семейному статусу. 
x

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [ ]:
y = data.groupby('family_status')['family_status'].count() #Количество клиентов по семейному статусу.
y

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4146
женат / замужем          12266
Name: family_status, dtype: int64

In [ ]:
z = x/y*100 #Процентное соотношение количества невозвратов от общего количества.
z

family_status
Не женат / не замужем    9.763948
в разводе                7.064760
вдовец / вдова           6.624606
гражданский брак         9.286059
женат / замужем          7.557476
dtype: float64

**Вывод:** Семейный статус клиентов влияет на возвратность кредитов так же незначительно. Вдовцы и вдовы чаще отдают кредиты без задержек, а проживающие в гражданском браке и не женатые/не замужние чаще имеют просрочку. Но отклонение от общего процента невозвратов, так же не более 2%.

 Есть ли зависимость между уровнем дохода и возвратом кредита в срок.

In [ ]:
func('total_income_category')

                       count   sum      mean
                        debt  debt      debt
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15938  1353  0.084891
D                        349    21  0.060172
E                         22     2  0.090909

In [ ]:
x = data.groupby('total_income_category')['debt'].sum() #Количество  невозвратов по уровню дохода.
x

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [ ]:
y = data.groupby('total_income_category')['total_income_category'].count() #Количество  клиентов, имеющих определенный уровень дохода.
y

total_income_category
A       25
B     5014
C    15938
D      349
E       22
Name: total_income_category, dtype: int64

In [ ]:
z = x/y*100 #Процентное соотношение невозвратов от общего количества клиентов по категориям дохода.
z

total_income_category
A    8.000000
B    7.060231
C    8.489145
D    6.017192
E    9.090909
dtype: float64

**Вывод:** Клиенты имеющие доход от 30001 до 50000 чаще других отдают кредиты в срок. Клиенты с доходом до 30000 чаще не возвращают кредиты в срок. Зависимости между уровнем дохода и возвратом кредита в срок не установлено, отклонение от общего процента невозвратов, так же около 2%(в случае с категорией В 2,1%)

 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
func('purpose_category')

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4281  400  0.093436
операции с недвижимостью  10754  780  0.072531
получение образования      3989  369  0.092504
проведение свадьбы         2324  183  0.078744

In [ ]:
x = data.groupby('purpose_category')['debt'].sum() # Количество невозвратов по целям кредитования.
x

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

In [ ]:
y = data.groupby('purpose_category')['purpose_category'].count() # Количество клиентов по целям кредитования.
y

purpose_category
операции с автомобилем       4281
операции с недвижимостью    10754
получение образования        3989
проведение свадьбы           2324
Name: purpose_category, dtype: int64

In [ ]:
z = x/y*100 #Процентное соотношение количества невозвратов от общего количества клиентов.
z

purpose_category
операции с автомобилем      9.343611
операции с недвижимостью    7.253115
получение образования       9.250439
проведение свадьбы          7.874355
dtype: float64

**Вывод:** Клиенты бравшие кредит на операции с недвижимостью и для проведения свадеб чаще отдают кредит в срок, чем клиенты бравшие кредит для операций с автомобилем и для получения образования. Но так как отклонение от общего процента невозвратов незначительно, так же не превышает 2%, то и влияние целей кредитования на его возврат незначительно.

## Общий вывод.

Исследуемые критерии влияют на возвратность кредитов не больше ~2% от общего процента по всему датафрейму, тоесть незначительно. Клиенты без детей чаще отдают кредиты в срок. Вдовцы и вдовы чаще отдают кредиты без задержек, а проживающие в гражданском браке и не женатые/не замужние чаще имеют просрочку. Клиенты имеющие доход от 30001 до 50000 чаще других отдают кредиты в срок. Клиенты с доходом до 30000 чаще не возвращают кредиты в срок. Клиенты бравшие кредит на операции с недвижимостью и для проведения свадеб чаще отдают кредит в срок, чем клиенты бравшие кредит для операций с автомобилем и для получения образования.

"Идеальный" клиент: Вдова или вдовец, без детей, с доходом от 30001 до 50000. Цель кредита: Недвижимость или свадьба.